* {
    padding: 0;
    margin: 0;
}


.mh {

    width: 50%;
    height: 100%;
    background-color: darkslateblue;
    top: 0%;
    position: absolute;
}

.nh {
    width: 50%;
    height: 100%;
    background-color: crimson;
    right: 0%;
    top: 0%;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: end;

}
.w{
    width: 100px;
    height: 100px;
    background-color: violet;
    right: 46.5%;
    bottom: 50%;
    position: absolute;

}

